@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

/* Add this to your CSS file or in a style tag */
.toggle-checkbox:checked + .toggle-label {
  background-color: #10b981;
}

.toggle-checkbox:checked + .toggle-label:before {
  transform: translateX(100%);
}

.toggle-label {
  display: block;
  width: 56px;
  height: 32px;
  background-color: #d1d5db;
  border-radius: 9999px;
  position: relative;
  transition: all 0.3s;
}

.toggle-label:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  transition: all 0.3s;
}

@keyframes dashFlow {
  to {
    stroke-dashoffset: -100;
  }
}

.animate-dash {
  stroke-dashoffset: 0;
  animation: dashFlow 4s linear infinite;
}

@keyframes sweep {
  0% {
    left: -60%;
  }
  100% {
    left: 130%;
  }
}

.animate-sweep {
  animation: sweep 4s linear infinite;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes lineGrow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-24px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.lang-switcher{
display:flex;
gap:8px;
flex-wrap:wrap;
}

.lang-switcher button{
padding:8px 14px;
border:none;
border-radius:20px;
background:#f3f3f3;
cursor:pointer;
font-weight:500;
transition:0.2s;
}

.lang-switcher button:hover{
background:#e0e0e0;
}

.goog-logo-link{
display:none !important;
}

.goog-te-gadget{
font-size:0 !important;
}

.goog-te-banner-frame{
display:none !important;
}

.lang-container{
position:relative;
display:inline-block;
}

.lang-button{
background:white;
border:1px solid #ddd;
/* padding:8px 14px; */
border-radius:6px;
cursor:pointer;
font-weight:500;
}

.lang-dropdown{
position:absolute;
top:50px;
left:50%;
transform: translateX(-50%);
background:white;
border:1px solid #ddd;
border-radius:6px;
width:180px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
z-index:999;
}

.lang-option{
padding:10px;
cursor:pointer;
display:flex;
gap:10px;
}

.lang-option:hover{
background:#f3f3f3;
}

/* hide google translate banner */
.goog-te-banner-frame {
  display: none !important;
}

/* Hide the top bar wrapper without removing it */
body > .skiptranslate {
  display: none !important;
}

/* prevent page from shifting down */
body {
  top: 0px !important;
  position: static !important;
}

/* hide tooltip and highlight */
.goog-te-balloon-frame {
  display: none !important;
}

.goog-text-highlight {
  background: transparent !important;
  box-shadow: none !important;
}

.goog-logo-link{
display:none !important;
}

.goog-te-gadget{
font-size:0 !important;
}